:root {
    /* Colores */
    --red100: #e51e1b;
    --red200: #c01920;
    --red300: #7d1516;
    --red-dark400: #381211;
    --dark100: #4d484f;
    --dark200: #272f32;
    --cream100: #e4dace;
    --cream200: #cfc9bd;
    --cream300: #bab6ad;

    /* Tipografías */

    --display: "Fire Flight", "Boska", sans-serif;
    --heading-font: "Boska", "Arial", sans-serif;
    --body-font: "Satoshi", "Arial", sans-serif;

    /* Tamaños encabezados */

    --h1: 3.5em;
    --h2: 2.8em;
    --h3: 2.1em;
    --h4: 1.5em;
    --h5: 1.2em;

    /* Tamaños tipografías */

    --body1-device: 0.875em;
    --body1-desktop: 0.813em;

}

/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--red-dark400);
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

p {
    font-family: var(--body-font);
}

a {
    color: var(--cream100);
    font-family: var(--body-font);
}

/* Clase general para contenedores */

.cont {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* Scroll */

.appear{
    opacity: 0;
    transition: opacity .4s ease-in;
}

/* Estilos cabecera */

.header__menu {
    width: 100%;
    height: 80px;
    background-color: var(--red-dark400);
    color: var(--cream300);

}

.enlace{
    position: absolute;
    padding: 1em 2em;
}

.logo{
    height: 40px;
}

.header__menu-links {
    float: right;
    margin-right: 1em;
}

.header__menu .header__menu-links li{
    display: inline-block;
    line-height: 80px;
    margin: 0 0.5em;
}

.header__menu-links li a {
    color: var(--cream300);
    border-radius: 1em;
    padding: 0.5em;
}

.active--link, .header__menu-links li a:hover{
    background-color: var(--red300);
    font-weight: bold;
    transition: 0.5s;
}

.checkbtn{
    font-size: 2em;
    color: var(--cream200);
    float: right;
    line-height: 80px;
    margin-right: 1.5em;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Estilos Hero */

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(45, 45, 45, 0.608), rgba(84, 0, 0, 0.608)), url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 5em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.hero__container--texto {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    color: var(--cream100);
}

.hero__container--texto h1 {
    font-family: var(--h1);
    color: var(--cream100);
}

.btn {
    color: var(--red300);
    background-color: var(--cream100);
    padding: 1em;
    border-radius: 1em;
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

/* Estilos sección about */

.about{
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    background-color: var(--red-dark400);
}

.about .cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.about__content{
    background-color: var(--red-dark400);
    color: var(--cream100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:auto;

    gap: 2em;
    padding: 2em;
}

img__clases {
    border-radius: 1em;
}

/* Estilos sección clases */

.clases{
    height: 71.1%;
    background-color: var(--red300);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.clases__content{
    background-color: var(--red-dark400);
}

.clases__content, .gallery__content{
    width: 325px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;

    margin: 1em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.clases__content:hover, .gallery__content:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.clases__content--text, .gallery__content--text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    color: var(--cream100);
    padding: 1em;
}

.img__clases, .img__gallery {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos galería */

.gallery {
    background-color: var(--red-dark400);
    color: var(--cream100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.gallery__container {
    display: flex;
    flex-wrap: wrap;
}

.gallery__content{
    background-color: var(--red300);
}

/* Estilos FAQ */

.faq {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--red300);
    padding: 2.5em 5em;
    gap: 1.5em;
    color: var(--dark200);
}

.faq h3 {
    text-align: center;
    color: var(--cream100);
    padding: 0.2em;
}

.faq__container {
    width: 100%;
    padding: 1em;
    gap: 1em;
    border-radius: 1em;
}

.faq__bloque {
    margin: 1em;
    padding: 1em;
    background-color: var(--cream300);
    gap: 1em;
    border-radius: 1em;
    transition: all 0.5s ease;
    cursor: pointer;
}

.faq .faq__bloque.active .faq__contenido {
    height: 4em;
}

.faq__contenido {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-top: 0.5em;
}

/* Estilos footer */

.footer {
    width: 100%;
    padding: 1em;
    background-color: var(--red-dark400);
    color: var(--cream100);
    font-family: var(--body-font);
    font-size: 0.75em;
}

.footer__links {
    width: 100%;
    display: flex;
    padding: 1em;
}

.footer .footer__links ul a {
    text-decoration: underline;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3em;
}

.redes__container--logos {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.footer__img{
    width: 20px;
    height: 20px;
}

.footer .logo{
    height: 20px;
}

/* Página CLases */

.clases__container{
    display: flex;
    flex-wrap: wrap;
}

/* Página About-Sombras */

.about-sombras__page {
    width: 100%;
    color: var(--cream100);
    background-color: var(--red-dark400);
}

.about-sombras__container--uno {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 3em;
}

.content--right, .content--left{
    color: var(--cream100);
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 600px;
}

.about-sombras__container--dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content--center {
    max-width: 700px;
}

.about-sombras__container--tres{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3em;
}

.about-sombras__container--cuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content--center {
    max-width: 700px;
}

.content--center h4 {
    color: var(--cream100)
}

/* Fondos About-Sombras */

.about-sombras__container--uno {
    height: 100vh;
    background: linear-gradient(rgba(45, 45, 45, 0.404), rgba(84, 0, 0, 0.432)), url(../assets/about_sombras--uno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-sombras__container--dos{
    height: 100vh;
    background: linear-gradient(rgba(45, 45, 45, 0.404), rgba(84, 0, 0, 0.432)), url(../assets/about_sombras--dos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-sombras__container--tres {
    height: 100vh;
    background: linear-gradient(rgba(45, 45, 45, 0.404), rgba(84, 0, 0, 0.432)), url(../assets/about_sombras--tres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-sombras__container--cuatro {
    height: 100vh;
    background: linear-gradient(rgba(45, 45, 45, 0.404), rgba(84, 0, 0, 0.432)), url(../assets/about_sombras--cuatro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Página de contacto */

.contact{
    height: 100%;
    background: linear-gradient(rgba(45, 45, 45, 0.404), rgba(84, 0, 0, 0.432)), url(../assets/back_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact__container{
    display: flex;
    align-items: center;
}

.contact--left{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    border-radius: 1em;
    background: linear-gradient(rgba(255, 255, 255, 0.404), rgba(163, 0, 0, 0.432)),var(--red100);
}


/* Puntos de quiebre */

@media(max-width:858px){
    
    .checkbtn{
      display: block ;
    }
    .header__menu-links{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--dark200);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    .header__menu .header__menu-links li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    
    }
    
      .header__menu .header__menu-links li .active--link{
        font-size: 20px;
    }
    
    li .active--link:hover, li .active--link.active{
        background: none;
        color: var(--red100);
      }
    
      #check:checked ~ .header__menu-links{
        left: 0;
      }
    
    }