:root{
    /* Colores */
    --red100: #e51e1b;
    --red200: #c01920;
    --red300: #7d1516;
    --red-dark400: #381211;
    --dark100: #4d484f;
    --dark200: #272f32;
    --cream100: #e4dace;
    --cream200: #cfc9bd;
    --cream300: #bab6ad;

    /* Tipografías */

    --display: "Fire Flight", "Boska", sans-serif;
    --heading-font: "Boska", "Arial", sans-serif;
    --body-font: "Satoshi", "Arial", sans-serif; 

    /* Tamaños encabezados */

    --h1: 3.5em;
    --h2: 2.8em;
    --h3: 2.1em;
    --h4: 1.5em;
    --h5: 1.2em;

    /* Tamaños tipografías */

    --body1-device: 0.875em;
    --body1-desktop: 0.813em;

}

/* RESET */

*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

p {
    font-family: var(--body-font);
}

a{
    color: var(--cream100);
    font-family: var(--body-font);
}

/* Estilos cabecera */

.header{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red-dark400);
    color: var(--cream300);
    
}

.header__menu-links{
    display: flex;
    align-items: center;

    gap: 1em;
    font-family: var(--body-font);
    font-size: 1em;
}

.header__menu-links li a {
    color: var(--cream300);
}

.idioma {
    font-size: 0.75em;
}

/* Estilos Hero */

.hero{
    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(45, 45, 45, 0.608),rgba(84, 0, 0, 0.608)), url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 5em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.hero__container--texto {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    color: var(--cream100);
}

.hero__container--texto h1 {
    font-family: var(--h1);
    color: var(--cream100);
}

.hero__container--texto a {
    color: var(--red300);
    background-color: var(--cream100);
    padding: 1em;
    border-radius: 1em;
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

/* Estilos sección about */

.about{
    background-color: var(--red-dark400);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    color: var(--cream100);
}

.about__container{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;
}

.about__bloque{
    width: 100%;
    height: 100%;
    background-color: var(--cream100);
    border-radius: 1em;
}

.about__bloque picture {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

/*
.active{}
*/

/* Estilos sección clases */

.clases {
    width: 100vw;
    background-color: var(--red300);
    padding: 2.5em 5em;
}

.clases__container{
    display: flex;
    flex-direction: row;
    gap: 2em
}

.clases__content {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 1.5em;
}

.clases__content--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    color: var(--cream100);
}

.clases__content--text a {
    font-weight: bold;
    font-size: 0.8em;
    text-align: end;

}

.img__clases {
    width: 100%;
}


/* Estilos galería */

.gallery{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--red-dark400);
    color: var(--cream100);
    padding: 2.5em 5em;
    gap: 1.5em;
}

.gallery__container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    color: var(--cream100);
}

/*
.gallery__content{}
.img__gallery{}
.gallery__content--text{}
*/

.gallery__link{
    font-weight: bold;
    font-size: 0.8em;
    text-align: end;
}

/* Estilos FAQ */

.faq{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--red300);
    padding: 2.5em 5em;
    gap: 1.5em;
    color: var(--dark200);
}

.faq h3 {
    text-align: center;
    color: var(--cream100);
    padding: 0.2em;
}

.faq__container{
    width: 100%;
    padding: 1em;
    gap: 1em;
    border-radius: 1em;
}

.faq__bloque{
    padding: 1em;
    background-color: var(--cream300);
    gap: 1em;
    border-radius: 1em;
    transition: all 0.5s ease;
    cursor: pointer;
}

.faq .faq__bloque.active .faq__contenido{
    height: 4em;
}

/*
.faq__titulo{
}
*/

.faq__contenido{
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-top: 0.5em;
}

/* Estilos footer */

.footer{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--red-dark400);
    color: var(--cream300);
    font-family: var(--body-font);
    font-size: 0.75em;
}

.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}

.footer .footer__links ul a{
    text-decoration: underline;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.redes__container--logos{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
